// Color Palette
:root {
  --color-background: #eef3f6;
  --color-primary: #0d2c40;
  --color-text-light: #4f6472;
  --color-white: #ffffff;

  // Font
  --font-main: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}